@model ITMOAspNetMvcApp.Models.Teacher

@{
    ViewData["Title"] = "Удалить преподавателя";
}

<h2>@ViewData["Title"]</h2>

<h3>Вы уверены, что хотите удалить этого преподавателя?</h3>
<div>
    <h4>Преподаватель</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Фамилия</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
        <dt class="col-sm-2">Имя</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TeacherId" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
